@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

@tailwind base;
@tailwind components;
@tailwind utilities;

/* 유틸리티 스타일 */
html {
  @apply font-spoqa text-[1rem] font-normal;
}

#root {
  @apply bg-cst-layout text-[1.4rem];
}

.ir {
  @apply overflow-hidden absolute w-0 h-0 leading-[0] indent-[-9999px];
}

/* 전체 페이지 레이아웃 */
.page {
  @apply w-[39rem] h-screen mx-auto bg-white flex flex-col shadow-[0_0px_10px_-5px_rgba(0,0,0,0.8)];
}

main {
  @apply basis-full overflow-hidden overflow-y-auto scrollbar-hide;
}

/* 디자인 공통 스타일 */
/* 버튼 크기 */
.btn-xl {
  @apply rounded-[44px] p-[1.3rem] w-[32.2rem] font-medium;
}

.btn-lg {
  @apply rounded-[34px] p-[0.7rem] w-[12rem] font-medium;
}

.btn-md {
  @apply rounded-[44px] p-[0.6rem] w-[9rem] font-medium;
}

.btn-sm {
  @apply rounded-[26px] p-[0.5rem] w-[5.6rem] text-[1.2rem];
}

/* 버튼 색상 */
.btn-on {
  @apply bg-m-color;
}

.btn-off {
  @apply bg-s-color;
}

.btn-cancle {
  @apply bg-[#fff] border-[0.1rem] border-cst-light-gray;
}
